nav {
    display: flex;
    width: 100vw;
    background-color: rgb(141, 235, 35);
    flex-direction: column-reverse;
    height: 5%;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row-reverse;
}

li {
    height:100%;
    width: 100px;
    background-color: rgba(0,0,0 50%);
    text-align: center;
}