html {
  --textcolor: #F2E8CF;
  --navcolor: #386641;
  --cardcolor: #6A994E;
  --main-background: #A7C957;
  --errorcolor: #BC4749;
}

body {
  margin: 0;
  padding: 0;
  color: var(--textcolor);
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background);
}
